*{
    background-color: beige;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
text-align: center;




}
.form_data{
    padding:10px;
    font-weight: bold;
    border-radius: 10px;
    font-style: normal;
    text-transform: capitalize;
overflow-wrap: normal;
    
}
.error{
    color:red
}
.btn{
    padding: 8px;
    
    font-weight: bold;
    border-radius: 10px;
   /*background-color: blue;*/
}
.heading{
    text-align: center;
}

